.clear {
  clear: both;
}

.nav a {
  /* Fallback for web browsers that don't support RGBa */
  color: #afafaf;
  /* RGBa with 0.6 opacity */
  color: rgba(255, 255, 255, 0.7);
}
.nav a:hover {
  color: #b38b30;
  /* Fallback for web browsers that don't support RGBa */
  color: rgba(255, 198, 69, 0.7);
  /* #ffc645 - RGBa with 0.6 opacity */
}

body {
  background: black url(../bg/synergist_portal.jpg) top center no-repeat;
  background-size: 100%;
  /* Fallback for web browsers that don't support RGBa */
  color: #afafaf;
  /* RGBa with 0.6 opacity */
  color: rgba(255, 255, 255, 0.7);
}
body .container {
  clear: both;
  padding-top: 9%;
  width: 75%;
  height: 100%;
}
body #media .instagram {
  margin-bottom: 33px;
  vertical-align: middle;
}
body header {
  margin-bottom: 10px;
  text-align: center;
}
body header #centerNav {
  /* Fallback for web browsers that don't support RGBa */
  background-color: black;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.66);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  width: 550px;
  float: left;
}
@media screen and (max-width: 720px) {
  body header #centerNav {
    width: 112px;
    display: inline-block;
    float: none;
    margin-bottom: 10px;
  }
}
body header #centerNav ul li {
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}
@media screen and (max-width: 1463px) {
  body header #centerNav ul li {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
@media screen and (max-width: 720px) {
  body header #centerNav ul li {
    display: block;
  }
}
body header #centerNav ul li a {
  width: 100%;
}
body header .mobile {
  padding-top: 0px;
  overflow: hidden;
}
body article {
  width: 63.5%;
  margin-right: 1%;
}
body article table {
  width: 100%;
}
body article table .show-date {
  border: 1px solid gray;
}
body article table .date {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
body article #recentNews {
  clear: both;
  margin-bottom: 10px;
}
body aside {
  width: 29.5%;
}
body aside ol, body aside ul, body aside p {
  padding-bottom: 16px;
  list-style: inside;
  list-style-type: decimal;
  font: 100%/1.4 Eurostile, Verdana, Arial, Helvetica, sans-serif;
  clear: left;
}
body aside img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body aside #tracks {
  font: 80%/1.4 Eurostile, Verdana, Arial, Helvetica, sans-serif;
  margin-top: 16px;
}
body aside #albumArtFloat {
  max-width: 55%;
  float: right;
  margin: 0;
  margin-left: 0.5%;
}
@media screen and (max-width: 1600px) {
  body aside #albumArtFloat {
    margin-left: 0;
    float: none;
  }
}
body aside .contact {
  display: block;
  margin-bottom: 20px;
}
body .centered {
  text-align: center;
}
body .centered img {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 910px) {
  body .centered img {
    margin-left: 0px;
  }
}
@media screen and (max-width: 910px) {
  body .centered {
    text-align: left;
  }
}
body article, body aside {
  min-height: 650px;
  float: left;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* Fallback for web browsers that don't support RGBa */
  background-color: black;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.66);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media screen and (max-width: 910px) {
  body article, body aside {
    clear: both;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px !important;
  }
}

.newsSocialBtns {
  display: inline-block;
  width: 360px;
  float: right;
}
@media screen and (max-width: 1270px) {
  .newsSocialBtns {
    float: none;
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .newsSocialBtns {
    float: none;
    width: 244px;
    margin: auto;
  }
}
.newsSocialBtns .newsSocialBtn {
  float: left;
  margin-right: 5%;
}
@media screen and (max-width: 1270px) {
  .newsSocialBtns .newsSocialBtn {
    margin-top: 1.5%;
  }
}
@media screen and (max-width: 720px) {
  .newsSocialBtns .newsSocialBtn {
    float: none;
    margin-top: 0px;
  }
}

.newsSocialBtns .newsSocialBtn:nth-child(3) {
  margin-right: 1%;
}

#music-player-container {
  margin: 0px auto 37px;
  width: 700px;
}

#mobile-music-player-container {
  display: none;
  margin: 0px auto 10px;
}

@media screen and (max-width: 942px) {
  #mobile-music-player-container {
    display: block;
  }

  #music-player-container {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  #maintext {
    width: 40%;
  }
}
.newsDate {
  font-size: 9px;
  font-weight: regular;
  white-space: nowrap;
  display: block;
  margin-bottom: 14px;
}

.newsPhoto, .newsPhotoBig {
  margin-bottom: 14px;
  margin-right: 10px;
  max-height: 640px;
  float: left;
  max-width: 50%;
}

.newsPhotoBig {
  display: block;
  max-width: 100%;
  float: none;
}

.smallText {
  font: 70%/1.4 Eurostile, Verdana, Arial, Helvetica, sans-serif;
}

a.menuLink, a.menuLink:visited {
  color: #b38b30;
  /* Fallback for web browsers that don't support RGBa */
  color: rgba(255, 198, 69, 0.7);
  /* #ffc645 - RGBa with 0.6 opacity */
  color: #afafaf;
  /* Fallback for web browsers that don't support RGBa */
  color: rgba(255, 255, 255, 0.7);
  /* RGBa with 0.6 opacity */
  font-family: "Planet N", Verdana, Tahoma;
  font-size: 1em;
  text-decoration: none;
}

a.menuLink:hover {
  color: #b38b30;
  /* Fallback for web browsers that don't support RGBa */
  color: rgba(255, 198, 69, 0.7);
  /* #ffc645 - RGBa with 0.6 opacity */
}

h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: none;
}
