.clear {
  clear: none;
}

.nav a {
  /* Fallback for web browsers that don't support RGBa */
  color: #afafaf;
  /* RGBa with 0.6 opacity */
  color: rgba(255, 255, 255, 0.7);
}

.nav a:hover {
  /* Fallback for web browsers that don't support RGBa */
  color: #b38b30;
  /* RGBa with 0.6 opacity */
  color: rgba(255, 198, 69, 0.7);
  /* #ffc645 */
}

body {
  background: black url(../bg/synergist_portal.jpg) top center no-repeat;
  background-size: 100%;
  /* Fallback for web browsers that don't support RGBa */
  color: #afafaf;
  /* RGBa with 0.6 opacity */
  color: rgba(255, 255, 255, 0.7);
}
body .container {
  clear: both;
  margin-top: 9%;
  width: 75%;
}
body header {
  clear: both;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  /* Fallback for web browsers that don't support RGBa */
  background-color: black;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.66);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
body header #centerNav {
  display: table;
  margin: 0 auto;
  min-width: 1122px;
}
@media screen and (max-width: 1463px) {
  body header #centerNav {
    min-width: 0;
  }
}
body header #centerNav ul {
  display: block;
}
body header #centerNav ul li {
  display: inline;
  padding-left: 2%;
  padding-right: 2%;
  min-width: 130px;
  display: inline-block;
  text-align: center;
}
@media screen and (max-width: 1463px) {
  body header #centerNav ul li {
    min-width: 28%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
@media screen and (max-width: 491px) {
  body header #centerNav ul li {
    min-width: 49%;
    display: block;
  }
}
body header #centerNav ul li a {
  width: 100%;
}
body header #centerNav .nav {
  margin: auto;
}
@media screen and (max-width: 826px) {
  body header #centerNav .nav {
    display: inline-block;
  }
}
body header .mobile {
  padding-top: 0px;
  overflow: hidden;
}
body article {
  width: 63.5%;
  margin-right: 1%;
}
body aside {
  width: 29.5%;
}
body aside ol, body aside ul, body aside p {
  padding-bottom: 16px;
  list-style: inside;
  list-style-type: decimal;
  font: 100%/1.4 Eurostile, Verdana, Arial, Helvetica, sans-serif;
  clear: left;
}
body aside img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body aside table {
  font: 80%/1.4 Eurostile, Verdana, Arial, Helvetica, sans-serif;
}
body article, body aside {
  min-height: 850px;
  float: left;
  padding-left: 1.5%;
  padding-right: 1.5%;
  /* Fallback for web browsers that don't support RGBa */
  background-color: black;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.66);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media screen and (max-width: 826px) {
  body article, body aside {
    clear: both;
    float: none;
    width: 97%;
    min-height: 100px;
  }
}

#music-player-container {
  margin: 0px auto 37px;
  width: 700px;
}

#mobile-music-player-container {
  display: none;
  margin: 0px auto 10px;
}

@media screen and (max-width: 942px) {
  #mobile-music-player-container {
    display: block;
  }

  #music-player-container {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  #maintext {
    width: 40%;
  }
}
.newsDate {
  font-size: 9px;
  font-weight: regular;
  white-space: nowrap;
  display: block;
  margin-bottom: 14px;
}

.newsPhoto, .newsPhotoBig {
  margin-bottom: 14px;
  margin-right: 10px;
  max-height: 640px;
  float: left;
  max-width: 50%;
}

.newsPhotoBig {
  display: block;
  max-width: 100%;
  float: none;
}

.smallText {
  font: 70%/1.4 Eurostile, Verdana, Arial, Helvetica, sans-serif;
}
