$break-small: 320px;
$black: #000000;
@mixin box-bg {
	background: $black;
	opacity: .66;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.clear {
	clear: none; 
}
body {
	background: #000 url(../synergist_portal.jpg) top center no-repeat;
	background-size: 100%;
	.container {
		clear: both;
		margin-top: 21%;
		width: 75%;
	}

	header {
		height: 30px;
		clear: both;
		margin-bottom: 10px;
		padding: 10px 5px 5px 5px;
		@include box-bg;
		@media screen and (max-width: 826px) {
			height: 179px;
		}
		ul {
			display: block;
			li { 
				display: inline;
				float: left; 
				padding: 0 1% 0 1%;
				@media screen and (max-width: 826px) {
					display: block;
					float: none;
					text-align: left;
				}
				text-align: center;
				width: 12%;

				a { width: 100%; }
			}
		}
		.nav {
			@media screen and (max-width: 826px) {
				display: inline-block;
				padding: 10px;
			}
			li {
				a{
					
				}
			}
		}
		.mobile {
			padding-top: 0px;
			overflow: hidden;
		}
	}
	article {
		width: 66%;
		margin-right: 5%;
	}
	aside {
		width: 28%;
		
	}
	article, aside {
		float: left;
		@include box-bg;
		@media screen and (max-width: 826px) {
			clear: both;
			float: none;
			width: 100%;
		}
	}	
}
@media screen and (max-width: 320px) {
	#maintext {
		width: 40%;
	}
}